<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Film Detay</title>
    <style type="text/css">
    .center {
		  margin: auto;
		  width: 50%;
		  border: 1px solid blue;
		  padding: 35px;
		  border-radius: 30px
		}
	a{
		text-decoration:none;
	}
    </style>
</head>
<body>
<div class="center">
		<br>
		<h1 style="text-align: center">Film</h1>
		<br>
	<table  class="table table-hover">
	  <thead class="thead-light">
	    <tr>
	      <th scope="col">Ad</th>
	      <th scope="col">Yıl</th>
	      <th scope="col">Aciklama</th>
	      <th scope="col">Medya</th>
	      <th scope="col">Dil</th>
	      <th scope="col">Tur</th>
	    </tr>
	  </thead>
	  <tbody >
	    <tr th:each="film : ${film}">
	      <td th:text="${film.ad}">Ad</td>
	      <td th:text="${film.yayin_yil}">Yıl</td>
	      <td th:text="${film.aciklama}" >Aciklama</td>
		  <td th:text="${film.medya}" >Medya</td>
		  <td th:text="${film.dil}" >Dil</td>
		  <td th:text="${film.tur}" >tur</td>  
	    </tr>
	  </tbody>
	</table>  
	<h5 style="text-align: center; color: red;">OYUNCULAR</h5>
	<div class="col-4"><input type="text" id="search" class="form-control mb-3" placeholder="Arama"></div>
	<table  class="table table-hover"  id="tablo">
	  <thead class="thead-light">
	     
		<tr>
	    	<th scope="col">Ad</th>
	    	<th scope="col">Soyad</th>
	    	<th scope="col">Rol</th>
	    		    	<th scope="col"></th>
	    	
	    </tr>
	  </thead>
	  <tbody >
	   	<tr th:each="oyuncu : ${oyuncular}" id="">
	      <td th:text="${oyuncu.ad}">Ad</td>
	      <td th:text="${oyuncu.soyad}">Soyad</td>
	      <td th:text="${oyuncu.rol}">Rol</td>
	    </tr>
	  </tbody>
	</table>  
	</div>
	<script>
		var input = document.getElementById("search");
		 
		input.addEventListener('keyup',  function searchFunction(){
		    var filter, table, tr, td, txtValue;
	
		    filter = input.value.toUpperCase();
		    table = document.getElementById("tablo");
		    tr = table.getElementsByTagName("tr");
	
		    for(var i=0; i < tr.length; i++){
		        td = tr[i].getElementsByTagName("td")[0];
		        if(td){
		            txtValue = td.textContent || td.innerText;
		            if(txtValue.toUpperCase().indexOf(filter) > -1){
		                tr[i].style.display = "";
		              } else {
		                tr[i].style.display = "none";
		              }
		        }
		    }
		})
	</script>
</body>