<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Giriş</title>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<style type="text/css">
		.center {
		  margin: auto;
		  margin-top:100px;
		  width: 30%;
		  border: 1px solid blue;
		  padding: 20px;
		  border-radius: 10px
		}
		div{
			margin: 10px;
		}
		label {
			margin-bottom:5px;
		}
		button {
			margin: auto;
		}
	</style>
<body>

	<div class="center">
	<form th:action="@{/login}" th:object="${user}" method="post">
		<form th:action="@{/login}" method="post">
			<h1 style="text-align: center">Giriş</h1>
		  <div class="form-group">
		    <label>Kullanici Adi</label>
		    <input type="text" class="form-control" name="nickname" placeholder="Kullanıcı Adı">
		  </div>
		  <div class="form-group">
		    <label>Parola</label>
		    <input type="password" class="form-control" name="password" placeholder="Parola">
		  </div>
		  <div>
			 <button type="submit" value="Giris" class="btn btn-success" style="margin: auto;">Giriş</button>	  
			 <button type="submit" value="Kayit Ol" class="btn btn-danger" style="margin: auto;"><a th:href="@{/register}" style="color: white;">Kayıt Ol</a></button>	  
		  </div>
	</form>
	</div>
</body>
</html>