<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Kayıt</title>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<style type="text/css">
		.center {
		  margin: auto;
		  margin-top:100px;
		  width: 30%;
		  border: 1px solid blue;
		  padding: 20px;
		  border-radius: 10px
		}
		div{
			margin: 10px;
		}
		label {
			margin-bottom:5px;
		}
		button {
			margin: auto;
		}
	</style>
<body>

	<div class="center">
	<form th:action="@{/register}" th:object="${user}" method="post">
		<form th:action="@{/register}" method="post">
			<h1 style="text-align: center">Kayıt Ol</h1>
		  <div class="form-group">
		    <label>Ad</label>
		    <input type="text" class="form-control" name="name" placeholder="Ad">
		  </div>
		   <div class="form-group">
		    <label>Soyad</label>
		    <input type="text" class="form-control" name="lastName" placeholder="Soyad">
		  </div>
		  <div class="form-group">
		    <label>Kullanıcı Adı</label>
		    <input type="text" class="form-control" name="nickname" placeholder="Kullanıcı Adı">
		  </div>
		  <div class="form-group">
		    <label>Parola</label>
		    <input type="password" class="form-control" name="password" placeholder="Parola">
		  </div>
		  <div>
		 <button type="submit" value="Log in" class="btn btn-primary"  style="margin: auto;" >Kayıt Ol</button>		  
		  </div>
	</form>
	</div>

</body>
</html>